#image: maven:latest
#https://hub.docker.com/_/maven/
image: maven:3.8.7-eclipse-temurin-19
#image: java:8 - only 8 available + prevent maven

variables:
  MAVEN_CLI_OPTS: "-s .m2/settings.xml --batch-mode"
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

cache:
  paths:
    - .m2/repository/
    - target/

build:
  stage: build
  script:
    - ./gl-info.sh
    - mvn $MAVEN_CLI_OPTS clean install

deploy:
  stage: deploy
  script:
    # avoid doubling deploy time for now
    #- mvn $MAVEN_CLI_OPTS source:jar javadoc:jar deploy -DskipTests
    - mvn $MAVEN_CLI_OPTS deploy -DskipTests
  only:
    - main
